
	@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
	
	#content {
		min-height: 100%;
	}
	#pageBody {
		width: 1400px;
	    min-width: 99%;
	    min-height: 100%;
	    margin: 0 auto;
		margin-bottom: -100px;
		
		background: url(/images/lightBlueBackgrd.png) no-repeat center center fixed;
  	    background-size: cover;
	}
	
	#body-headers {
		width: 100%;
		height: 70px;
		font-size: 35px;
		color: black;
		
		display: flex;
	}
	
		#storeLocation {
			width: 33%;
			min-height: 100%;
			
			display: flex;
			align-items: center;
	    	text-align: center;
	    	justify-content: left;
	    	
	    	font-style: italic;
			padding-left: 15px;
		}
		
		#adminHomeTitle {
			width: 34%;
			height: 100%;
			
			display: flex;
			align-items: center;
	    	text-align: center;
	    	justify-content: center;
	    	
	    	text-decoration: underline;
			text-decoration-color: red;
			font-size: 45px;
		}

		#adminHomeDiv {
			width: 33%;
			height: 100%;
			
			display: flex;
			align-items: center;
	    	text-align: center;
	    	justify-content: end;
	    	
	    	font-style: italic;
	    	padding-right: 20px;
		}
			#adminHome {
				width: 240px;
				border: 3px solid black;
	      		border-radius: 5px;
				
				background-color: rgb(153, 255, 153);
				cursor: pointer;
			}
		
		
		
		#addItemDiv {
			width: 100%;
			min-height: 700px;
			
			display: flex;
			flex-direction: column;
			
			font-family: Trebuchet MS;
		}
			#addInstructions-1 {
				width: 100%;
				height: 60px;
				margin-bottom: 5px;
				font-size: 35px;
				font-weight: bold;
				
				display: flex;
				
				justify-content: center;
				align-items: center;
				text-align: center;
			}
			#addInstructions-2 {
				width: 100%;
				height: 60px;
				margin-bottom: 5px;
				font-size: 30px;
				font-style: italic;
				
				display: flex;
				
				justify-content: center;
				align-items: center;
				text-align: center;
			}
			#addItemFields {
				width: 90%;
				min-height: 100%;
				
				display: flex;
				flex-direction: column;
				
				justify-content: start;
				align-items: center;
				text-align: center;
				
				padding-top: 20px;
				margin-left: auto;
				margin-right: auto;
			}
		 	 #addItemForm {
		      	width: 100%;
		      }
		     #addItemRow1 {
		      	width: 100%;
		      	height: 40px;
		      	display: flex;
		      	flex-direction: row;
		      	justify-content: left;
				align-items: center;
		      	
		        margin-bottom: 10px;
		      }
		       #addItemCol {
		       		width: 100%;
			      	display: flex;
			      	flex-direction: column;
			      	
			      	justify-content: center;
					align-items: center;
			      	
		       }
		      
			      #itemName, #categoryName, #itemPrice {
			      	width: 100%;
			      	display: flex;
			      	flex-direction: row;
			      	
			      	justify-content: center;
					align-items: center;
			      	
			      	font-size: 22px;
			        margin-bottom: 10px;
			      }
			      	#addItemParamTitle {
			      		width: 40%;
			      		display: flex;
				      	justify-content: right;
						align-items: center;
						
						padding-right: 8px;
						margin-bottom: 7px;
						color: rgb(0, 57, 230);
			      	}
			      	
			      	#descAndImage {
			      		width: 100%;
			      		display: flex;
				      	flex-direction: row;
			      	}
			      	#itemDescRow {
			      		width: 70%;
				      	
			      	
			      	}
			      	#addImageRow {
			      		width: 30%;
			      		display: flex;
						align-items: center;
						text-align: center;
						justify-content: center;
						
				      	flex-direction: column;
			      	}
			      		#addImageText {
			      			margin-top: 10px;
			      			font-size: 15px;
			      		}
			      	
			      	#itemDescriptionDiv {
						width: 100%;
						height: 120px;
						
						padding-top: 0px;
						display: flex;
						align-items: center;
						text-align: center;
						justify-content: center;
						
						margin-bottom: 10px;
					}
						#itemDescription {
							height: 100px;
							width: 550px;
							font-size: 20px;
						}
						#countDisplay {
							height: 100%;
							display: flex;
							align-items: end;
							text-align: center;
							justify-content: center;
							padding-left: 5px;
							
							font-size: 20px;
						}
			      	
			      	
			      	/*Topping Instructions - Start */
			      	#addInstructions-3 {
						width: 100%;
						height: 30px;
						margin-bottom: 15px;
						font-size: 25px;
						
						display: flex;
						
						justify-content: center;
						align-items: center;
						text-align: center;
						
						color: rgb(179, 89, 0);
						text-decoration: underline;
					}
					
			      	#addInstructions-4 {
						width: 100%;
						height: 25px;
						margin-bottom: 5px;
						font-size: 17px;
						
						display: flex;
						
						justify-content: left;
						align-items: center;
						text-align: center;
						margin-left: 100px;
					}
			      	
			      	#instructions {
						background-color: rgb(77, 166, 255);
						margin-top: 20px;
						margin-bottom: 20px;
					}
					 #instructionsTitleDiv {
				        width: 99.7%;
						height: 40px;
						margin-bottom: 0px;
						font-size: 25px;
						
						display: flex;
						
						justify-content: center;
						align-items: center;
						text-align: center;
						
						background-color: rgb(128, 191, 255);
						color: black;
						
						border: 2px solid black;
						cursor: pointer;
				    }
				    #instructionsTitle {
				    	color: rgb(179, 89, 0);
						text-decoration: underline;
						margin-left: 10px;
						margin-right: 10px;
				    }
				      
				    .dropdown-content-instructions {
				      position: relative; 
				      z-index: 1;  /* make sure the content is above other elements on the page */
				      display: flex;  
				      padding-bottom: 0px;
				      padding-left: 10px;
				      padding-top: 5px;
				      
				      border: 2px solid black;
				    }
				    
					.instructionsContent {
						padding-left: 30px;
				        font-family: Trebuchet MS;
				        color: black;
				        
				    }
			   /*Topping Instructions - END*/
			      	
			       #addItemToppingRow {
			       		width: 100%;
				      	height: 40px;
				      	display: flex;
				      	flex-direction: row;
				      	justify-content: left;
						align-items: center;
				      	
				        margin-bottom: 10px;
				        
				        border: 3px solid gray;
			        	border-radius: 3px;
			        	padding: 3px;
			        	margin-bottom: 20px;
			       }
			      	
			       .addItemToppingCol {
			       		width: 100%;
				      	display: flex;
				      	flex-direction: column;
				      	
				      	justify-content: center;
						align-items: center;
						text-align: center;
						
						font-size: 17px;
				      	
			       }
			       
			       #add-topping-title {
			       		width: 7%;
			       }
			       #add-topping-name {
			       		width: 17%;
			       }
			       #add-topping-type {
			       		width: 14%;
			       		padding-right: 0px;
			       }
			       #add-topping-types {
			       		visibility: hidden;
			       		width: 21%;
			       		padding-left: 10px;
			       }
			       #add-topping-isPizza {
			       		width: 14%;
			       		margin-left: 5px;
			       		padding-right: 60px;
			       		
			       }
			       #add-topping-addonPrice {
			       		width: 7%;
			       		padding-right: 75px;
			       }
			       #add-topping-ExtraPrice {
			       		width: 7%;
			       		margin-right: 10px;
			       		margin-left: 10px;
			       		
			       }
			       #removeToppingDiv {
			       		width: 20%;
			       
			       }
			       	#removeTopping {
			       		width: 30px;
			       		height: 25px;
			       		font-weight: bold;
			       		margin-bottom: 3px;
			       		margin-left: 10px;
			       		margin-right: 5px;
			       		padding-bottom: 0px;
			       		font-size: 30px;
			       		
			       		margin-left: auto; 
						margin-right: 5px;
						
						display: flex;
					    justify-content: center;
						align-items: center;
						text-align: center;
				
						cursor: pointer;
						border: 2px solid black;
			        	border-radius: 3px;
			       		background-color: rgb(255, 153, 153);
			       	}
			  
			
			.addToppingDiv {
			 	width: 100%;
			 	height: 40px;
			 	display: flex;
			    justify-content: center;
				align-items: center;
				text-align: center;
				
				margin-bottom: 20px;
					
			 }    
			   .addTopping {
		       		width: 2%;
		       		height: 25px;
		       		font-weight: bold;
		       		margin-bottom: 3px;
		       		margin-left: 10px;
		       		margin-right: 5px;
		       		padding-bottom: 0px;
		       		font-size: 30px;
		       		
		       		display: flex;
			      	justify-content: center;
					align-items: center;
					text-align: center;
					
					cursor: pointer;
					border: 2px solid black;
		        	border-radius: 3px;
		       		background-color: rgb(92, 214, 92);
			    }
			       
			       #addItemToppingParamTitle {
			      		width: 25%;
			      		display: flex;
				      	justify-content: right;
						align-items: center;
						
						white-space: nowrap;
						
						padding-right: 8px;
						margin-bottom: 0px;
			      	
			       	}
			      	#add-toppingTitle {
				      	width: 100%;
				      	display: flex;
				      	
				      	justify-content: center;
						align-items: center;
				      	margin-bottom: 7px;
				      	
				      	
				      }
				      	#add-toppingTitleSpan {
				      		color: rgb(230, 115, 0);
				      	}
				      #add-toppingName {
				      	width: 100%;
				      	display: flex;
				      	
				      	justify-content: center;
						align-items: center;
				      	
				      }
				      #add-toppingType {
				      	width: 100%;
				      	display: flex;
				      	
				      	justify-content: center;
						align-items: center;
				      	
				      }
				      #add-toppingTypes {
				      	width: 100%;
				      	display: flex;
				      	
				      	justify-content: center;
						align-items: center;
				      }
				      #add-isPizza{
				      	width: 100%;
				      	display: flex;
				      	
				      	justify-content: center;
						align-items: center;
				      	
				      }
				      #add-toppingAddonCost {
				      	width: 100%;
				      	display: flex;
				      	
				      	justify-content: center;
						align-items: center;
				      }
				      #add-toppingExtraCost {
				      	width: 100%;
				      	display: flex;
				      	
				      	justify-content: center;
						align-items: center;
				      	
				      }
			      	 
			      	
			      	#emptyText {
			      		width: 0%;
			      	}
			      	.errorMessages {
			      		width: 100%;
			      		color: red;
			      		font-size: 15px;
			      		text-align: right;
			      		margin-bottom: 5px;
			      		white-space: nowrap;
			      	}
			      
			       input[type="text"] {
			       	width: 57%;
			       	height: 20px;
			       	display: flex;
			      	justify-content: center;
					align-items: center;
					text-align: center;
					
					margin-bottom: 0px;
			       }
			      input[type="submit"] {
			      	width: 200px;
			      	height: 50px;
			      	font-size: 30px;
			      	
			        background-color: #4CAF50;
			        color: white;
			        padding: 10px 20px;
			        border: none;
			        border-radius: 5px;
			        cursor: pointer;
			        
			      }
			      
			      input[type="submit"]:hover {
			        background-color: #3e8e41;
			      }	
			
		/* START - mainOptions Dropdown box styles. */	
			
			  .dropdown {
			    	width: 100px;
			  		margin-right: 0px;
			  
				    border: 3px solid black;
				    background: rgb(255, 187, 153);
				    color: black;
				    cursor: pointer;
				    height: 30px;
				    line-height: 30px;
				    position: relative;
				    text-align: center;
				    text-decoration: none;
				    z-index: 5;
				    transform: perspective(1000px);
				    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
				    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
				  	
				  	font-size: 20px;
				  	margin-right: 0px;
			  }
			  #typeSelectedOption {
			  	position: relative;
			    font-weight: bold;
			  }
			  #selectedOption {
			    position: relative;
			    font-weight: bold;
			  }
			
			 
			  .dropdown-menu {
				    background-color: rgb(255, 136, 77);
				    list-style-type: none;
				    margin: 0;
				    padding: 0;
				    position: absolute;
				    left: 0;
				    opacity: 0;
				    text-align: center;
				    top: 100%;
				    visibility: hidden;
				    z-index: -99999;
				    width: 100%;
				    
				    
				    -webkit-transition: all .5s, background, 2s .5s linear;
				    transition: all .5s, background 2s .5s linear;
			  }
			
			  .dropdown-menu li:first-child {
			    	cursor: default;
			  }
			
			  .dropdown-menu a {
				    color: #000;
				    display: inline-block;
				    width: 100%;
				    text-decoration: none;
				    -webkit-transition: all .5s;
				    transition: all .001s;
			  }
			
			  .dropdown-menu a:hover {
				    background: rgb(179, 60, 0);
				    color: #fff;
				    z-index: 12;
			  }
			
			  .dropdown:hover .dropdown-menu {
				    background: rgb(255, 102, 26);
				    opacity: 1;
				    visibility: visible;
				    z-index: 12;
			  }
  		/* END - Dropdown box styles. */	  
		
		