
	@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
	
	#pageBody {
		width: 1400px;
	    min-width: 99%;
	    min-height: 100%;
	    margin: 0 auto;
		margin-bottom: -100px;
		
		background: url(/images/lightBlueBackgrd.png) no-repeat center center fixed;
  	    background-size: cover;
	}
	
	#body-headers {
		width: 100%;
		height: 70px;
		font-size: 35px;
		color: black;
		
		display: flex;
	}
	
		#storeLocation {
			width: 33%;
			height: 100%;
			
			display: flex;
			align-items: center;
	    	text-align: center;
	    	justify-content: left;
	    	
	    	font-style: italic;
			padding-left: 15px;
		}
		
		#adminHomeTitle {
			width: 34%;
			height: 100%;
			
			display: flex;
			align-items: center;
	    	text-align: center;
	    	justify-content: center;
	    	
	    	text-decoration: underline;
			text-decoration-color: red;
			font-size: 45px;
		}

		#adminHomeDiv {
			width: 33%;
			height: 100%;
			
			display: flex;
			align-items: center;
	    	text-align: center;
	    	justify-content: end;
	    	
	    	font-style: italic;
	    	padding-right: 20px;
		}
			#adminHome {
				width: 240px;
				border: 3px solid black;
	      		border-radius: 5px;
				
				background-color: rgb(153, 255, 153);
				cursor: pointer;
			}
		
		
		
		#showAllItemsDiv {
			width: 100%;
			height: 450px;
			
			display: flex;
			flex-direction: column;
		}
			#deleteInstructions {
				width: 100%;
				height: 60px;
				margin-bottom: 5px;
				font-size: 40px;
				font-style: italic;
				
				display: flex;
				
				justify-content: center;
				align-items: center;
				text-align: center;
			}
				#deleteText {
					color: red;
				}
			#showAllItemsTextDiv {
				width: 90%;
				height: 100%;
				
				display: flex;
				flex-direction: column;
				
				justify-content: center;
				align-items: center;
				text-align: center;
				
				padding-top: 110px;
				margin: auto;
			}
			 #rowOne-firstFourCategories {
				width: 100%;
				display: flex;
				flex-direction: row;
				
				
				font-size: 26px;
				margin-bottom: 15px;
		      }
		      #rowOne-lastFourCategories {
				width: 100%;
				display: flex;
				flex-direction: row;
				font-size: 26px;
		      }
		      	
		      #itemCategory {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
					
				flex-direction: column;
				
				border: 3px solid gray;
		      	border-radius: 5px;
				
				margin: 5px;
				padding-bottom: 10px;
				
				background-color: rgb(128, 191, 255);
		      }
		      	#category {
		      		display: flex;
		      		justify-content: center;
		      		margin-bottom: 10px;
		      		font-size: 40px;
		      	}
		      	
		      	#itemInCategory {
		      		width: 80%;
					
		      		border: 1px solid gray;
		      		border-radius: 5px;
					margin: 5px;
					padding-left: 2px;
					
					background-color: rgb(255, 204, 204);
					cursor: pointer;
		      	}
		
		
		