<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width,
        initial-scale=1">
<title>Online Pizza Ordering</title>

<link rel="stylesheet" href="/cssStyles/backgroundAndTopBar.css">
<link rel="stylesheet" href="/cssStyles/categoryPage.css">
<link rel="stylesheet" href="/cssStyles/bottomLinks.css">


</head>
<body>
	
  <div class="container">
   	<div class="content">
   	
   		<!-- Listing category names to pass to JavaScript. -->
   		<div hidden >
		    <p th:each="category : ${itemCategories}" th:id="'categoryName' + ${category}" th:text="${category}"></p>
		</div>
		<!-- Listing item names to pass to JavaScript. -->
		<div hidden>
		    <p th:each="item : ${menuItems}" th:id="'itemName' + ${item.getItemName()}" th:text="${item.getCategory()} + ' ' + ${item.getItemName()}"></p>
		</div>
		<!-- Listing users account email. -->
		<div hidden>
		    <p id="accIsAdmin" th:text="${userIsAdmin}"></p>
		    <span id="isUserLoggedin" th:text="${isLoggedIn}" hidden></span>
		</div>
   		<!-- TopHeader div inserted here from JavaScript (topHeaderHtml.js) -->
		
   		<div id="pageBody">
   			<div id="body-headers">
   				<div id="storeLocation">  </div>
   				<div id="menuTitle">[[${displayItems.get(0).getCategory()}]]</div>
   				<div id="searchMenu">
   					Search:  
   					<div id="searchDiv">
   							<form action="/pizzaStore/ItemSearch" method="post">
		                        <input type="text" id="userSearchInput" placeholder="Search menu" name="itemSearchString">
		                     </form>
		             </div>
   				</div>
   			</div>
   			
   			<div id="foodItems">
   				<!-- Used to insert item rows and columns -->
   				<div th:each="item : ${displayItems}" id="hiddenDisplayItems" hidden>
				    
					    <p id="itemUrl" th:text="${item.getImageUrl()}"></p>
					    <p id="itemName" th:text="${item.getItemName()}"></p>
					    
				</div>
				<!-- Insets the item rows using categoryPage-Rows.js -->
   				
   			</div>
   				
   				
   			<div id="socialLinksBorder">
		     	<div id="socialLinks">
		            <b> 
		            	<a id="gitHub" href="https://github.com/Nathan-Barthen" target="_blank">GitHub</a>
		                <a id="linkedIn" href="https://www.linkedin.com/in/nathan-barthen-22993722a/" target="_blank">LinkedIn</a> 
		            </b>
		        </div>
			</div>
   			
   		</div>
   	
   	</div>
  </div>

	<script src="/javaScript/topHeaderHtml.js"></script>
	<script  src="/javaScript/clicksAccount.js"></script>

	<script src="/javaScript/showOperatingHours.js"></script>
	<script src="/javaScript/menuOptions/showPizzas.js"></script>
	<script src="/javaScript/menuOptions/showSides.js"></script>
	<script src="/javaScript/menuOptions/showWings.js"></script>
	<script src="/javaScript/menuOptions/showPasta.js"></script>
	<script src="/javaScript/menuOptions/showWedgie.js"></script>
	<script src="/javaScript/menuOptions/showDesserts.js"></script>
	<script src="/javaScript/menuOptions/showDrinks.js"></script>
	<script src="/javaScript/menuOptions/showMisc.js"></script>
	
	<script src="/javaScript/pageRedirects/clicksLoginSignup.js"></script>
	<script src="/javaScript/pageRedirects/clicksPizzaLogo.js"></script>
	<script src="/javaScript/pageRedirects/clicksItem.js"></script>
	<script src="/javaScript/pageRedirects/clicksCheckout.js"></script>
	<script src="/javaScript/pageRedirects/entersItemSearch.js"></script>
	
	<script src="/javaScript/bodySize-categoryPage.js"></script>
	<script src="/javaScript/categoryPage-Rows.js"></script>
	
	<script src="/javaScript/entersLocation.js"></script>
	<script src="/javaScript/errorRedirectPopup.js"></script>
	
	
	
	
</body>
</html>



















