<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width,
        initial-scale=1">
<title>Online Pizza Ordering</title>

<link rel="stylesheet" href="/cssStyles/backgroundAndTopBar.css">
<link rel="stylesheet" href="/cssStyles/editAccountPage.css">
<link rel="stylesheet" href="/cssStyles/bottomLinks.css">


</head>
<body>
	
  <div class="container">
   	<div class="content">
   	
   		<!-- Listing category names to pass to JavaScript. -->
   		<div hidden >
		    <p th:each="category : ${itemCategories}" th:id="'categoryName' + ${category}" th:text="${category}"></p>
		</div>
   		<!-- Listing item names to pass to JavaScript. -->
		<div hidden>
		    <p th:each="item : ${menuItems}" th:id="'itemName' + ${item.getItemName()}" th:text="${item.getCategory()} + ' ' + ${item.getItemName()}"></p>
		</div>
		<!-- Listing users account email. -->
		<div hidden>
		    <p id="accIsAdmin" th:text="${userIsAdmin}"></p>
		    <span id="isUserLoggedin" th:text="${isLoggedIn}" hidden></span>
		</div>
   		<!-- TopHeader div inserted here from JavaScript (topHeaderHtml.js) -->
   		
   		
   		<div id="pageBody">
   			<div id="body-headers">
   				<div id="storeLocation"> 156 Elderwood Ave </div>
   				<div id="signUpTitle"> Edit Account </div>
   				<div id="emptySpace">
   					
   				</div>
   			</div>
   			
   			<div id="signUpDiv">
   				
   				<div id="signUpTextDiv">
				      <div id="createAccount">
				        	Edit Your Infomration
				      </div>
				      <div id="signUpEntry">
				      	<form id="signUpForm" method="post" th:action="@{/pizzaStore/finishEditAccount}">
					      	<div id="signUpFirstName">
							    <span id="signUpParamTitle"> *First Name: </span>
							    <input type="text" name="firstname" th:value="${user.getFirstName()}">
							</div>
							<div id="signUpCheckFirstName">
							    <span id="emptyText"></span>
							    <div class="errorMessages" id="firstNameErrorMessages"></div>
							</div>
							
							
							<div id="signUpLastName">
							    <span id="signUpParamTitle"> *Last Name: </span>
							    <input type="text" name="lastname" th:value="${user.getLastName()}">
							</div>
							<div id="signUpCheckLastName">
							    <span id="emptyText"></span>
							    <div class="errorMessages" id="lastNameErrorMessages"></div>
							</div>
							
							<div id="signUpPhone">
							    <span id="signUpParamTitle"> *Phone: </span>
							    <input type="text" name="phone" th:value="${user.getPhoneNumber()}">
							</div>
							<div id="signUpCheckPhone">
							    <span id="emptyText"></span>
							    <div class="errorMessages" id="phoneErrorMessages"></div>
							</div>
							
							<div id="signUpEmail">
							    <span id="signUpParamTitle"> *Email: </span>
							    <input type="text" name="email" th:value="${user.getEmail()}">
							</div>
							<div id="signUpCheckEmail">
							    <span id="emptyText"></span>
							    <div class="errorMessages" id="emailErrorMessages"></div>
							</div>
							
							<div id="signUpAddress">
							    <span id="signUpParamTitle"> *Address: </span>
							    <input type="text" name="address" th:value="${user.getAddress()}">
							</div>
							<div id="signUpCheckAddress">
							    <span id="emptyText"></span>
							    <div class="errorMessages" id="addressErrorMessages"></div>
							</div>
							
								<div id="signUpApartment">
								  	<span id="signUpConfirmApartmentTitle"> Apt / Bldg: </span>
								  	<input type="text" name="apartment" th:value="${user.getApartmentNum()}">
								</div>
							
					        
					        
					        <div id="signUpPassword">
					          	<span id="signUpParamTitle"> *Password: </span>
					          	 <input id="password"  type="password" name="password" pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[a-z]).{7,}$"  title="Password must be at least 7 characters with one capital and one number">
					        </div>
					        
					        <div id="signUpConfirmPassword">
					        	<span id="emptyText"></span>
					        	<div class="errorMessages" id="passwordErrorMessages"></div>
					        </div>
					        
					        
					       
				        	<input type="submit" value="Submit">
				      	</form>
				      	
				      </div>
			    </div>
   			</div>
   			
   		</div>
   		
   		<div id="socialLinksBorder">
		     	<div id="socialLinks">
		            <b> 
		            	<a id="gitHub" href="https://github.com/Nathan-Barthen" target="_blank">GitHub</a>
		                <a id="linkedIn" href="https://www.linkedin.com/in/nathan-barthen-22993722a/" target="_blank">LinkedIn</a> 
		            </b>
		        </div>
		</div>
   			
   	</div>
  </div>

	<script src="/javaScript/topHeaderHtml.js"></script>
	<script  src="/javaScript/clicksAccount.js"></script>

	<script src="/javaScript/showOperatingHours.js"></script>
	<script src="/javaScript/menuOptions/showPizzas.js"></script>
	<script src="/javaScript/menuOptions/showSides.js"></script>
	<script src="/javaScript/menuOptions/showWings.js"></script>
	<script src="/javaScript/menuOptions/showPasta.js"></script>
	<script src="/javaScript/menuOptions/showWedgie.js"></script>
	<script src="/javaScript/menuOptions/showDesserts.js"></script>
	<script src="/javaScript/menuOptions/showDrinks.js"></script>
	<script src="/javaScript/menuOptions/showMisc.js"></script>
	
	<script src="/javaScript/pageRedirects/clicksLoginSignup.js"></script>
	<script src="/javaScript/pageRedirects/clicksPizzaLogo.js"></script>
	<script src="/javaScript/pageRedirects/clicksItem.js"></script>
	<script src="/javaScript/pageRedirects/clicksCheckout.js"></script>
	
	<script src="/javaScript/updateSelectedOption.js"></script>
	
	<script src="/javaScript/signUpParameterChecking/confirmParameters-EditAccount.js"></script>
	
	
	<script src="/javaScript/entersLocation.js"></script>
	<script src="/javaScript/errorRedirectPopup.js"></script>
	
	
	
	
</body>
</html>



















