<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width,
        initial-scale=1">
<title>Online Pizza Ordering</title>

<link rel="stylesheet" href="/cssStyles/backgroundAndTopBar.css">
<link rel="stylesheet" href="/cssStyles/itemPage.css">
<link rel="stylesheet" href="/cssStyles/bottomLinks.css">


</head>
<body>
	
  <div class="container">
   	<div class="content">
   	
   		<!-- Listing category names to pass to JavaScript. -->
   		<div hidden >
		    <p th:each="category : ${itemCategories}" th:id="'categoryName' + ${category}" th:text="${category}"></p>
		</div>
   		<!-- TopHeader div inserted here from JavaScript (topHeaderHtml.js) -->
		
   		<div id="pageBody">
   			<div id="body-headers">
   				<div id="storeLocation"> 156 Elderwood Ave </div>
   				<div id="categoryTitle"> Dessert(s) </div>
   				<div id="searchMenu">
   					Search:  
   					<div id="searchDiv">
   							<form>
		                        <input type="text" id="userSearchInput" placeholder="Search menu">
		                     </form>
		             </div>
   				</div>
   			</div>
   			
   			<div id="imageAndDesc">
   				<div id="itemImgDiv"> 
	   				<img id="itemImg" src="/images/items/desserts/brownie.jpg">
   				</div>
   				<div id="itemDescDiv">
   					<div id="itemName">
   						Brownie
   					</div>
   					<div id="itemDesc">
   						This is the description for the item that is shown above me. 
   						I made this extra long to test length.
   						This is the description for the item that is shown above me. 
   						I made this extra long to test length.
   					</div>
   				</div>
   			</div>
   			<div id="mainOptions">
   				<div id="mainOptions-dropdownContainer">
   					<label id="dropdownLabelName">Sauce Type: </label>
	   				<div class="dropdown">
					  	<div id="selectedOption">Select</div>
					  	<ul class="dropdown-menu">
						    <li><a href="#">Red Sauce</a></li>
						    <li><a href="#">Spicy Sauce</a></li>
						    <li><a href="#">Tomato Sauce</a></li>
						    <li><a href="#">Light Sauce</a></li>
						</ul>
					</div>
					<div id="amountDiv">
		   					<div id="light"> <span id="lightText">Light</span> </div>
		   					<div id="normal"> <span id="normalText">Normal</span> </div>
		   					<div id="extra"> <span id="extraText">Extra</span> </div>
		   			 </div>
				</div>
   				
   				<div id="mainOption-toppings">
   					<div id="mainOption-toppingsTitleDiv"><span id="mainOption-toppingsTitle">Toppings</span></div>
	   				
	   				<div id="lightNormalExtra">
	   				
	   					<div id="ingredientName">Cheese: </div>
	   					
	   					<div id="amountDiv">
		   					<div id="light"> <span id="lightText">Light</span> </div>
		   					<div id="normal"> <span id="normalText">Normal</span> </div>
		   					<div id="extra"> <span id="extraText">Extra</span> </div>
		   				</div>
	   					
	   					<div id="sideOfPizzaDiv">
		   					<div id="leftSide"><span id="leftSideText"></span></div>
		   					<div id="wholeSide"><span id="wholeSideText"></span></div>
		   					<div id="rightSide"><span id="rightSideText"></span></div>
		   				</div>
	   				
	   					
	   					<div id="removeIngredient"> <span id="removeIngredientText">Remove</span> </div>
	   					
	   				</div>
	   				
	   				<div id="lightNormalExtra">
	   				
	   					<div id="ingredientName">Pepperoni: </div>
	   					
	   					<div id="amountDiv">
		   					<div id="light"> <span id="lightText">Light</span> </div>
		   					<div id="normal"> <span id="normalText">Normal</span> </div>
		   					<div id="extra"> <span id="extraText">Extra</span> </div>
		   				</div>
	   					
	   					<div id="sideOfPizzaDiv">
		   					<div id="leftSide"><span id="leftSideText"></span></div>
		   					<div id="wholeSide"><span id="wholeSideText"></span></div>
		   					<div id="rightSide"><span id="rightSideText"></span></div>
		   				</div>
	   				
	   					
	   					<div id="removeIngredient"> <span id="removeIngredientText">Remove</span> </div>
	   					
	   				</div>
	   				
	   				<div id="mainOption-keepOrRemove">
	   				
	   				</div>
   			
   				</div>
   			</div>
   			
   			<div id="add-ons_Extra">
   			<div id="add-ons_Extra-TitleDiv"><span id="add-ons_Extra-Title">Add-ons (may cost extra)</span></div>
	   				
	   				<div id="lightNormalExtra">
	   				
	   					<div id="ingredientName">Cheese: </div>
	   					
	   					<div id="amountDiv">
		   					<div id="light"> <span id="lightText">Light</span> </div>
		   					<div id="normal"> <span id="normalText">Normal</span> </div>
		   					<div id="extra"> <span id="extraText">Extra</span> </div>
		   				</div>
	   					
	   					<div id="sideOfPizzaDiv">
		   					<div id="leftSide"><span id="leftSideText"></span></div>
		   					<div id="wholeSide"><span id="wholeSideText"></span></div>
		   					<div id="rightSide"><span id="rightSideText"></span></div>
		   				</div>
	   				
	   					
	   					<div id="removeIngredient"> <span id="removeIngredientText">Remove</span> </div>
	   					
	   				</div>
	   				
	   				<div id="lightNormalExtra">
	   				
	   					<div id="ingredientName">Ham: </div>
	   					
	   					<div id="amountDiv">
		   					<div id="light"> <span id="lightText">Light</span> </div>
		   					<div id="normal"> <span id="normalText">Normal</span> </div>
		   					<div id="extra"> <span id="extraText">Extra</span> </div>
		   				</div>
	   					
	   					<div id="sideOfPizzaDiv">
		   					<div id="leftSide"><span id="leftSideText"></span></div>
		   					<div id="wholeSide"><span id="wholeSideText"></span></div>
		   					<div id="rightSide"><span id="rightSideText"></span></div>
		   				</div>
	   				
	   					
	   					<div id="removeIngredient"> <span id="removeIngredientText">Remove</span> </div>
	   					
	   				</div>
	   				
	   				<div id="lightNormalExtra">
	   				
	   					<div id="ingredientName">Pineapple: </div>
	   					
	   					<div id="amountDiv">
		   					<div id="light"> <span id="lightText">Light</span> </div>
		   					<div id="normal"> <span id="normalText">Normal</span> </div>
		   					<div id="extra"> <span id="extraText">Extra</span> </div>
		   				</div>
	   					
	   					<div id="sideOfPizzaDiv">
		   					<div id="leftSide"><span id="leftSideText"></span></div>
		   					<div id="wholeSide"><span id="wholeSideText"></span></div>
		   					<div id="rightSide"><span id="rightSideText"></span></div>
		   				</div>
	   				
	   					
	   					<div id="removeIngredient"> <span id="removeIngredientText">Remove</span> </div>
	   					
	   				</div>
	   				
	   				<div id="lightNormalExtra">
	   				
	   					<div id="ingredientName">Bacon: </div>
	   					
	   					<div id="amountDiv">
		   					<div id="light"> <span id="lightText">Light</span> </div>
		   					<div id="normal"> <span id="normalText">Normal</span> </div>
		   					<div id="extra"> <span id="extraText">Extra</span> </div>
		   				</div>
	   					
	   					<div id="sideOfPizzaDiv">
		   					<div id="leftSide"><span id="leftSideText"></span></div>
		   					<div id="wholeSide"><span id="wholeSideText"></span></div>
		   					<div id="rightSide"><span id="rightSideText"></span></div>
		   				</div>
	   				
	   					
	   					<div id="removeIngredient"> <span id="removeIngredientText">Remove</span> </div>
	   					
	   				</div>
	   				
	   				<div id="lightNormalExtra">
	   				
	   					<div id="ingredientName">Sausage: </div>
	   					
	   					<div id="amountDiv">
		   					<div id="light"> <span id="lightText">Light</span> </div>
		   					<div id="normal"> <span id="normalText">Normal</span> </div>
		   					<div id="extra"> <span id="extraText">Extra</span> </div>
		   				</div>
	   					
	   					<div id="sideOfPizzaDiv">
		   					<div id="leftSide"><span id="leftSideText"></span></div>
		   					<div id="wholeSide"><span id="wholeSideText"></span></div>
		   					<div id="rightSide"><span id="rightSideText"></span></div>
		   				</div>
	   				
	   					
	   					<div id="removeIngredient"> <span id="removeIngredientText">Remove</span> </div>
	   					
	   				</div>
	   				
	   				<div id="lightNormalExtra">
	   				
	   					<div id="ingredientName">Lettuce: </div>
	   					
	   					<div id="amountDiv">
		   					<div id="light"> <span id="lightText">Light</span> </div>
		   					<div id="normal"> <span id="normalText">Normal</span> </div>
		   					<div id="extra"> <span id="extraText">Extra</span> </div>
		   				</div>
	   					
	   					<div id="sideOfPizzaDiv">
		   					<div id="leftSide"><span id="leftSideText"></span></div>
		   					<div id="wholeSide"><span id="wholeSideText"></span></div>
		   					<div id="rightSide"><span id="rightSideText"></span></div>
		   				</div>
	   				
	   					
	   					<div id="removeIngredient"> <span id="removeIngredientText">Remove</span> </div>
	   					
	   				</div>
   				
   			</div>
   			<div id="userComments">
   				<textarea id="additionalInstructions" name="additionalInstructions"
   				 placeholder="Additional Instructions..."  rows="5" cols="50" maxlength="250"></textarea>
    			 <div id="countDisplay">0/250</div>
   			</div>
   		</div>
   		
   		<div id="socialLinksBorder">
		     	<div id="socialLinks">
		            <b> 
		            	<a id="gitHub" href="https://github.com/Nathan-Barthen" target="_blank">GitHub</a>
		                <a id="linkedIn" href="https://www.linkedin.com/in/nathan-barthen-22993722a/" target="_blank">LinkedIn</a> 
		            </b>
		        </div>
		</div>
   			
   	</div>
  </div>

	<script src="/javaScript/topHeaderHtml.js"></script>

	<script src="/javaScript/showOperatingHours.js"></script>
	<script src="/javaScript/menuOptions/showPizzas.js"></script>
	<script src="/javaScript/menuOptions/showSides.js"></script>
	<script src="/javaScript/menuOptions/showWings.js"></script>
	<script src="/javaScript/menuOptions/showPasta.js"></script>
	<script src="/javaScript/menuOptions/showWedgie.js"></script>
	<script src="/javaScript/menuOptions/showDesserts.js"></script>
	<script src="/javaScript/menuOptions/showDrinks.js"></script>
	<script src="/javaScript/menuOptions/showMisc.js"></script>
	
	<script src="/javaScript/pageRedirects/clicksLoginSignup.js"></script>
	<script src="/javaScript/pageRedirects/clicksPizzaLogo.js"></script>
	<script src="/javaScript/pageRedirects/clicksItem.js"></script>
	<script src="/javaScript/pageRedirects/clicksCheckout.js"></script>
	
	<script src="/javaScript/itemPage/updateSelectedOption-itemPage.js"></script>
	<script src="/javaScript/itemPage/selectedOptions-itemPage.js"></script>
	<script src="/javaScript/itemPage/removeSelectedOption-itemPage.js"></script>
	
	<script src="/javaScript/usesCommentsCharLeft.js"></script>
	
	
	
	
</body>
</html>



















