<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width,
        initial-scale=1">
<title>Online Pizza Ordering</title>

<link rel="stylesheet" href="/cssStyles/backgroundAndTopBar.css">
<link rel="stylesheet" href="/cssStyles/itemPage.css">
<link rel="stylesheet" href="/cssStyles/bottomLinks.css">


</head>
<body>
	
  <div class="container">
   	<div class="content">
   	
   		<!-- Listing category names to pass to JavaScript. -->
   		<div hidden >
		    <p th:each="category : ${itemCategories}" th:id="'categoryName' + ${category}" th:text="${category}"></p>
		</div>
   		<!-- Listing item names to pass to JavaScript. -->
		<div hidden>
		    <p th:each="item : ${menuItems}" th:id="'itemName' + ${item.getItemName()}" th:text="${item.getCategory()} + ' ' + ${item.getItemName()}"></p>
		</div>
		<!-- Listing users account email. -->
		<div hidden>
		    <p id="accIsAdmin" th:text="${userIsAdmin}"></p>
		    <span id="isUserLoggedin" th:text="${isLoggedIn}" hidden></span>
		</div>
		<!-- TopHeader div inserted here from JavaScript (topHeaderHtml.js) -->
		
   		<div id="pageBody">
   			<div id="body-headers">
   				<div id="storeLocation"> </div>
   				<div id="categoryTitle"> [[${item.getCategory()}]] </div>
   				<div id="searchMenu">
   					Search:  
   					<div id="searchDiv">
   							<form action="/pizzaStore/ItemSearch" method="post">
		                        <input type="text" id="userSearchInput" placeholder="Search menu" name="itemSearchString">
		                     </form>
		             </div>
   				</div>
   			</div>
   			
   			
   			
   			
   			
   			<div id="imageAndDesc">
   				<div id="itemImgDiv"> 
	   				<img id="itemImg" th:src="${item.getImageUrl()}">
   				</div>
   				<div id="itemDescDiv">
   					<span id="itemCost">$[[${item.getItemDefaultCostsAsString().get(0)}]]</span>
   					<div id="itemName">
   						[[${item.getItemName()}]] 
   					</div>
   					<div id="itemDesc">
   						[[${item.getItemDesc()}]]
   					</div>
   				</div>
   				
   				<div id="howManyDiv">
	   				<div id="increaseNumberDiv">
	   					<span id="increaseNumber">+</span>
	   				</div>
	   				<div id="numberOfItemDiv">
	   					<span id="numberOfItem">1</span>
	   				</div>
	   				<div id="decreaseNumberDiv">
	   					<span id="decreaseNumber">-</span>
	   				</div>
   				</div>
   				
   				
   				
   			</div>
   			
   			
   			
   			<div id="mainOptions">
   				
   				<div id="sizeDropdownContainer" th:if="${item.getCheckItemSizes()}"> 
   					<label id="dropdownLabelName">Size: </label>
   					<div class="dropdown" style="z-index:9"> 
   						<div id="sizeSelectedOption"><span id="itemSizeSpan">[[${item.getItemSizesAsString().get(0)}]]</span> -
								      <span id="sizeCostSpan">$[[${item.getItemDefaultCostsAsString().get(0)}]]</span></div> 
   							<ul class="dropdown-menu" id="sizeDropdown-menu">
   								<li th:each="price, sizeIndex : ${item.getItemDefaultCostsAsString()}" >
								    <a href="#">
								      <span id="itemSizeSpan" th:if="${item.getItemSizesAsString().get(sizeIndex.index) != null}"> [[${item.getItemSizesAsString().get(sizeIndex.index)}]] </span> 
								      -
								      <span id="sizeCostSpan">$[[${price}]]</span>
								    </a>
								 </li>
   							</ul> 
   					</div>
   				</div>
   			
   				<!-- Thymleaf variables to be inserted into mainOptions and add-ons_Extra-->
   				<div th:each="topping : ${item.getIncludedToppings()}" id="hiddenIncludedToppings" hidden>
				    
					    <p id="toppingName" th:text="${topping.getToppingName()}"></p>
					    <p id="toppingType" th:text="${topping.getToppingType()}"></p>
					    <p id="isPizza" th:text="${topping.getIsPizza()}"></p>
					    <p id="toppingOptions" th:each="toppOpt : ${topping.getToppingOptions()}" th:text="${toppOpt}"></p>
					    <p id="additionalCostExtra" th:text="${topping.getAdditionalCostExtra()}"></p>
					    
				</div>
				<div th:each="topping : ${item.getAdditionalToppings()}" id="hiddenAdditionalToppings" hidden>
					    
					    <p id="toppingName" th:text="${topping.getToppingName()}"></p>
					    <p id="toppingType" th:text="${topping.getToppingType()}"></p>
					    <p id="isPizza" th:text="${topping.getIsPizza()}"></p>
					    <p id="toppingOptions" th:each="toppOpt : ${topping.getToppingOptions()}" th:text="${toppOpt}"></p>
					    <p id="additionalCostExtra" th:text="${topping.getAdditionalCostExtra()}"></p>
					    <p id="additionalCostAddon" th:text="${topping.getAdditionalCostAddon()}"></p>
					    
				</div>
   				<!-- Insert main toppings html here from insertToppingInfo -->
   				
   				
   			</div>
   			
   			<div id="add-ons_Extra">
   			
   			
   				
   			</div>
   			<div id=commentsAndSubmit>
	   			<div id="userComments">
	   				<textarea id="additionalInstructions" name="additionalInstructions"
	   				 placeholder="Additional Instructions..."  rows="5" cols="50" maxlength="250"></textarea>
	    			 <div id="countDisplay">0/250</div>
	   			</div>
	   			<div id="addItemDiv">
	   				<span hidden id="updateItem">false</span>
	   				<span id="addItem">Add</span>
	   			</div>
	   		</div>
	   	
   		</div>
   		
   		<div id="notLoggedInDiv">
   			<div id="notLoggedIn">
   				You are not logged in.
   				<div id="continueAsGuestDiv">
   					<span id="continueAsGuestSpan">Continue as guest</span>
   				</div>
   				<div id="loginDiv">
   					<span id="loginSpan">Login</span>
   				</div>
   			</div>
   		</div>
   		
   		<div id="socialLinksBorder">
		     	<div id="socialLinks">
		            <b> 
		            	<a id="gitHub" href="https://github.com/Nathan-Barthen" target="_blank">GitHub</a>
		                <a id="linkedIn" href="https://www.linkedin.com/in/nathan-barthen-22993722a/" target="_blank">LinkedIn</a> 
		            </b>
		        </div>
		</div>
   			
   	</div>
  </div>

	<script src="/javaScript/topHeaderHtml.js"></script>
	<script  src="/javaScript/clicksAccount.js"></script>

	<script src="/javaScript/showOperatingHours.js"></script>
	<script src="/javaScript/menuOptions/showPizzas.js"></script>
	<script src="/javaScript/menuOptions/showSides.js"></script>
	<script src="/javaScript/menuOptions/showWings.js"></script>
	<script src="/javaScript/menuOptions/showPasta.js"></script>
	<script src="/javaScript/menuOptions/showWedgie.js"></script>
	<script src="/javaScript/menuOptions/showDesserts.js"></script>
	<script src="/javaScript/menuOptions/showDrinks.js"></script>
	<script src="/javaScript/menuOptions/showMisc.js"></script>
	
	<script src="/javaScript/pageRedirects/clicksLoginSignup.js"></script>
	<script src="/javaScript/pageRedirects/clicksPizzaLogo.js"></script>
	<script src="/javaScript/pageRedirects/clicksItem.js"></script>
	<script src="/javaScript/pageRedirects/clicksCheckout.js"></script>
	<script src="/javaScript/pageRedirects/entersItemSearch.js"></script>
	
	<script src="/javaScript/itemPage/updateSelectedOption-itemPage.js"></script>
	<script src="/javaScript/itemPage/selectedOptions-itemPage.js"></script>
	<script src="/javaScript/itemPage/removeSelectedOption-itemPage.js"></script>
	<script src="/javaScript/itemPage/updateToppingCosts.js"></script>
	<script src="/javaScript/itemPage/insertMainToppingInfo.js"></script>
	<script src="/javaScript/itemPage/insertAdditionalToppingInfo.js"></script>
	<script src="/javaScript/itemPage/clicksIncreaseDecreaseHowMany.js"></script>
	
	
	<script src="/javaScript/usesCommentsCharLeft.js"></script>
	
	<script src="/javaScript/itemPage/addItemToCart.js"></script>
	
	
	
</body>
</html>



















