<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width,
        initial-scale=1">
<title>Online Pizza Ordering</title>

<link rel="stylesheet" href="/cssStyles/backgroundAndTopBar.css">
<link rel="stylesheet" href="/cssStyles/admin/adminEditAllUsers.css">
<link rel="stylesheet" href="/cssStyles/bottomLinks.css">


</head>
<body>
	
  <div class="container">
   	<div class="content">
   	
   		<!-- Listing category names to pass to JavaScript. -->
   		<div hidden >
		    <p th:each="category : ${itemCategories}" th:id="'categoryName' + ${category}" th:text="${category}"></p>
		</div>
   		<!-- TopHeader div inserted here from JavaScript (topHeaderHtml.js) -->
		<div hidden>
		    <p th:each="item : ${menuItems}" th:id="'itemName' + ${item.getItemName()}" th:text="${item.getCategory()} + ' ' + ${item.getItemName()}"></p>
		</div>
		<!-- Listing users account email. -->
		<div hidden>
		    <p id="accIsAdmin" th:text="${userIsAdmin}"></p>
		    <span id="isUserLoggedin" th:text="${isLoggedIn}" hidden></span>
		</div>
		<!-- TopHeader div inserted here from JavaScript (topHeaderHtml.js) -->
		
   		<div id="pageBody">
   			<div id="body-headers">
   				<div id="storeLocation"> 156 Elderwood Ave </div>
   				<div id="adminHomeTitle"> Admin: Edit All Users </div>
   				<div id="adminHomeDiv">
   					<div id="adminHome">Admin Home</div>
   				</div>
   			</div>
   			
   			
   			<div id="showAllUsersDiv">
   		
   		
   				<div id="titleUser">
   					<div id="firstName">
   						First Name
   					</div>
   					<div id="lastName">
   						Last Name
   					</div>
   					<div id="email">
   						Email
   					</div>
   					<div id="isAdmin">
   						isAdmin?
   					</div>
   					<div id="giveAdmin">
   						Give Admin
   					</div>
   					<div id="removeAdmin">
   						Remove Admin
   					</div>
   					
   					<div id="deleteAccount">
   						Delete Account
   					</div>
   				
   				</div>
   				
   				<div th:each="user : ${users}" id="user">
				    <div id="firstName" th:text="${user.firstName}"></div>
				    <div id="lastName" th:text="${user.lastName}"></div>
				    <div id="email" th:text="${user.email}"></div>
				    <div id="isAdmin" th:text="${user.admin}" class="isAdmin"></div>


				    <div id="giveAdmin">
				        <span id="giveAdminSpan" class="giveAdminSpan">Give Admin</span>
				    </div>
				    <div id="removeAdmin">
				        <span id="removeAdminSpan" class="removeAdminSpan">Remove Admin</span>
				    </div>
				    <div id="deleteAccount">
				        <span id="deleteAccountSpan" class="deleteAccountSpan">Delete Account</span>
				    </div>
				</div>

   				
   				
   			</div>
   			
   		</div>
   		
   		<div id="socialLinksBorder">
		     	<div id="socialLinks">
		            <b> 
		            	<a id="gitHub" href="https://github.com/Nathan-Barthen" target="_blank">GitHub</a>
		                <a id="linkedIn" href="https://www.linkedin.com/in/nathan-barthen-22993722a/" target="_blank">LinkedIn</a> 
		            </b>
		        </div>
		</div>
   			
   	</div>
  </div>

	<script src="/javaScript/topHeaderHtml.js"></script>
	<script  src="/javaScript/clicksAccount.js"></script>
	
	<script src="/javaScript/showOperatingHours.js"></script>
	<script src="/javaScript/menuOptions/showPizzas.js"></script>
	<script src="/javaScript/menuOptions/showSides.js"></script>
	<script src="/javaScript/menuOptions/showWings.js"></script>
	<script src="/javaScript/menuOptions/showPasta.js"></script>
	<script src="/javaScript/menuOptions/showWedgie.js"></script>
	<script src="/javaScript/menuOptions/showDesserts.js"></script>
	<script src="/javaScript/menuOptions/showDrinks.js"></script>
	<script src="/javaScript/menuOptions/showMisc.js"></script>
	
	<script src="/javaScript/pageRedirects/clicksLoginSignup.js"></script>
	<script src="/javaScript/pageRedirects/clicksPizzaLogo.js"></script>
	<script src="/javaScript/pageRedirects/clicksItem.js"></script>
	<script src="/javaScript/pageRedirects/clicksCheckout.js"></script>
	
	<script src="/javaScript/adminPages/adminClicksAdminHome.js"></script>
	<script src="/javaScript/adminPages/adminClicksGiveRemoveDeleteUser.js"></script>
	
	<script src="/javaScript/entersLocation.js"></script>
	<script src="/javaScript/errorRedirectPopup.js"></script>
	
	
	
	
</body>
</html>



















