<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width,
        initial-scale=1">
<title>Online Pizza Ordering</title>

<link rel="stylesheet" href="/cssStyles/backgroundAndTopBar.css">
<link rel="stylesheet" href="/cssStyles/admin/adminShowAllItemsEdit.css">
<link rel="stylesheet" href="/cssStyles/bottomLinks.css">


</head>
<body>
	
  <div class="container">
   	<div class="content">
   	
   		<!-- Listing category names to pass to JavaScript. -->
   		<div hidden >
		    <p th:each="category : ${itemCategories}" th:id="'categoryName' + ${category}" th:text="${category}"></p>
		</div>
   		<!-- TopHeader div inserted here from JavaScript (topHeaderHtml.js) -->
		
   		<div id="pageBody">
   			<div id="body-headers">
   				<div id="storeLocation"> 156 Elderwood Ave </div>
   				<div id="adminHomeTitle"> All Items </div>
   				<div id="adminHomeDiv">
   					<div id="adminHome">Admin Home</div>
   				</div>
   			</div>
   			
   			<div id="showAllItemsDiv">
   				<div id="editInstructions"> Click on an Item to be view its description and ingredients. </div>
   			 	<div id="editInstructions"> While there you will have an option to <span id="editText">&nbsp;edit&nbsp;</span> the Item. </div>
   				<div id="showAllItemsTextDiv">
   				
   					  <div id="rowOne-firstFourCategories">
				    	<div id="itemCategory">
				    		<div id="categoryName">Category Name</div>
				    		<div id="itemInCategory">Pep Pizza</div>
				    		<div id="itemInCategory">Pineapple Pizza</div>
				    		<div id="itemInCategory">Spicy Pizza</div>
				    	</div>
				    	<div id="itemCategory">
				    		<div id="categoryName">Category Name</div>
				    		<div id="itemInCategory">Pep Pizza</div>
				    		<div id="itemInCategory">Pineapple Pizza</div>
				    		<div id="itemInCategory">Spicy Pizza</div>
				    	</div>
				    	<div id="itemCategory">
				    		<div id="categoryName">Category Name</div>
				    		<div id="itemInCategory">Pep Pizza</div>
				    		<div id="itemInCategory">Pineapple Pizza</div>
				    		<div id="itemInCategory">Spicy Pizza</div>
				    	</div>
				    	<div id="itemCategory">
				    		<div id="categoryName">Category Name</div>
				    		<div id="itemInCategory">Pep Pizza</div>
				    		<div id="itemInCategory">Pineapple Pizza</div>
				    		<div id="itemInCategory">Spicy Pizza</div>
				    	</div>
				      </div>
				      
				      <div id="rowOne-lastFourCategories">
				    	<div id="itemCategory">
				    		<div id="categoryName">Pizza</div>
				    		<div id="itemInCategory">Pep Pizza</div>
				    		<div id="itemInCategory">Pineapple Pizza</div>
				    		<div id="itemInCategory">Spicy Pizza</div>
				    	</div>
				    	<div id="itemCategory">
				    		<div id="categoryName">Wings</div>
				    		<div id="itemInCategory">Pep Pizza</div>
				    		<div id="itemInCategory">Pineapple Pizza</div>
				    		<div id="itemInCategory">Spicy Pizza</div>
				    	</div>
				    	<div id="itemCategory">
				    		<div id="categoryName">Misc</div>
				    		<div id="itemInCategory">Pep Pizza</div>
				    		<div id="itemInCategory">Pineapple Pizza</div>
				    		<div id="itemInCategory">Spicy Pizza</div>
				    	</div>
				    	<div id="itemCategory">
				    		<div id="categoryName">Category Name</div>
				    		<div id="itemInCategory">Pep Pizza</div>
				    		<div id="itemInCategory">Pineapple Pizza</div>
				    		<div id="itemInCategory">Spicy Pizza</div>
				    	</div>
				      </div>

			    </div>
   			</div>
   			
   		</div>
   		
   		<div id="socialLinksBorder">
		     	<div id="socialLinks">
		            <b> 
		            	<a id="gitHub" href="https://github.com/Nathan-Barthen" target="_blank">GitHub</a>
		                <a id="linkedIn" href="https://www.linkedin.com/in/nathan-barthen-22993722a/" target="_blank">LinkedIn</a> 
		            </b>
		        </div>
		</div>
   			
   	</div>
  </div>

	<script src="/javaScript/topHeaderHtml.js"></script>

	<script src="/javaScript/showOperatingHours.js"></script>
	<script src="/javaScript/menuOptions/showPizzas.js"></script>
	<script src="/javaScript/menuOptions/showSides.js"></script>
	<script src="/javaScript/menuOptions/showWings.js"></script>
	<script src="/javaScript/menuOptions/showPasta.js"></script>
	<script src="/javaScript/menuOptions/showWedgie.js"></script>
	<script src="/javaScript/menuOptions/showDesserts.js"></script>
	<script src="/javaScript/menuOptions/showDrinks.js"></script>
	<script src="/javaScript/menuOptions/showMisc.js"></script>
	
	<script src="/javaScript/pageRedirects/clicksLoginSignup.js"></script>
	<script src="/javaScript/pageRedirects/clicksPizzaLogo.js"></script>
	<script src="/javaScript/pageRedirects/clicksItem.js"></script>
	<script src="/javaScript/pageRedirects/clicksCheckout.js"></script>
	
	<script src="/javaScript/adminPages/adminClicksOnItemInEdit.js"></script>
	<script src="/javaScript/adminPages/adminClicksAdminHome.js"></script>
	
	<script src="/javaScript/entersLocation.js"></script>
	<script src="/javaScript/errorRedirectPopup.js"></script>
	
	
	
	
</body>
</html>



















