<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width,
        initial-scale=1">
<title>Online Pizza Ordering</title>

<link rel="stylesheet" href="/cssStyles/backgroundAndTopBar.css">
<link rel="stylesheet" href="/cssStyles/admin/adminEditItem.css">
<link rel="stylesheet" href="/cssStyles/bottomLinks.css">


</head>
<body>
	
  <div class="container">
   	<div class="content">
   	
   		<div id="topHeader">
			<div id="logo">
				<img id="pizzaLogo" src="/images/PizzaLogo.jpg">
			</div>
			<div id="hours">
				<div id="operatingHours">Hours</div>
					<div id="hiddenOperatingHours">
						<div id="day">Mon: <span id="dayHours"> 11:00am - 7:00pm </span>	</div>
						<div id="day">Tue: <span id="dayHours"> 11:00am - 7:00pm </span>	</div>
						<div id="day">Wed: <span id="dayHours"> 11:00am - 7:00pm </span>	</div>
						<div id="day">Thr: <span id="dayHours"> 11:00am - 7:00pm </span>	</div>
						<div id="day">Fri: <span id="dayHours"> 11:00am - 7:00pm </span>	</div>
						<div id="day">Sat: <span id="dayHours"> 11:00am - 7:00pm </span>	</div>
						<div id="day">Sun: <span id="dayHours"> Closed </span>				</div>
					
					</div>
				<div id="openClosed">Open</div>
			</div>
			<div id="pizzas">	<span id="pizzasText">Pizzas</span>		</div>
				<div id="hiddenPizzas">
					<div id="item">Custom Pizza</div>
					<div id="item">Pepperoni Pizza</div>
					<div id="item">Three Meat Pizza</div>
				</div>
			<div id="sides">	<span id="sidesText">Sides</span>		</div>
				<div id="hiddenSides">
					<div id="item">Breadsticks</div>
					<div id="item">Cheesesticks</div>
					<div id="item">Motz Sticks</div>
					<div id="item">Pretzel Sticks</div>
				</div>
			<div id="wings">	<span id="wingsText">Wings</span>		</div>
				<div id="hiddenWings">
					<div id="item">Ranch Wings</div>
					<div id="item">Mild Wings</div>
					<div id="item">Boneless Wings</div>
				</div>
			<div id="pasta">	<span id="pastaText">Pasta</span>		</div>
				<div id="hiddenPasta">
					<div id="item">Ziti Pasta</div>
					<div id="item">spaghetti Pasta</div>
				</div>
			<div id="wedgie">	<span id="wedgieText">Wedgie</span>		</div>
				<div id="hiddenWedgie">
					<div id="item">Pepperoni Wedgie</div>
					<div id="item">Steak Wedgie</div>
					<div id="item">Beef Wedgie</div>
				</div>
			<div id="desserts">	<span id="dessertsText">Desserts</span>	</div>
				<div id="hiddenDesserts">
					<div id="item">Pizza Cake</div>
					<div id="item">Pizza Brownie</div>
				</div>
			<div id="drinks">	<span id="drinksText">Drinks</span>		</div>
				<div id="hiddenDrinks">
					<div id="item">Mt Dew</div>
					<div id="item">Coke</div>
					<div id="item">Root Beer</div>
				</div>
			<div id="misc">		<span id="miscText">Misc</span>			</div>
				<div id="hiddenMisc">
					<div id="item">Salad</div>
					<div id="item">Dips</div>				
				</div>
			<div id="spaceBetween"></div>
			<div id="login">Login-in | Sign-up</div>
			<div id="checkout">Checkout</div>
		</div>
		
   		<div id="pageBody">
   			<div id="body-headers">
   				<div id="storeLocation"> 156 Elderwood Ave </div>
   				<div id="adminHomeTitle"> Add an Item </div>
   				<div id="adminHomeDiv">
   					<div id="adminHome">Admin Home</div>
   				</div>
   			</div>
   			
   			<div id="addItemDiv">
   				<div id="addInstructions-1"> Enter data into the fields to add an item to the menu.</div>
   			 	<div id="addInstructions-2"> If you do not use one of the already established&nbsp;<b>Categories</b>, it will be placed in Misc. </div>
   				<div id="addItemFields">
   					<form id="addItemForm" method="post" th:action="@{/pizzaStore/admin/addItemToMenu}">
   						<div id="addItemRow1">
   						   
   						    <div id=addItemCol>
	   							<div id="itemName">
								    <span id="addItemParamTitle"> *Item Name: </span>
								    <input type="text" name="itemName" placeholder="Name">
								</div>
								<div id="checkItemName">
								    <span id="emptyText"></span>
								    <div class="errorMessages" id="itemNameErrorMessages"></div>
								</div>
							</div>
							
							<div id=addItemCol>
						      	<div id="categoryName">
								    <span id="addItemParamTitle"> *Category: </span>
								    <input type="text" name="categoryName" placeholder="Category">
								</div>
								<div id="checkCategoryName">
								    <span id="emptyText"></span>
								    <div class="errorMessages" id="categoryNameErrorMessages"></div>
								</div>
							</div>
							
							<div id=addItemCol>
								<div id="itemPrice">
								    <span id="addItemParamTitle"> *Price ($): </span>
								    <input type="text" name="itemPrice" placeholder="$0.00">
								</div>
								<div id="checkItemPrice">
								    <span id="emptyText"></span>
								    <div class="errorMessages" id="itemPriceErrorMessages"></div>
								</div>
							</div>
							
						</div>		
						<div id=addItemCol>
							<div id="descAndImage">
								<div id="itemDescRow">
									<div id="itemDescriptionDiv">
						   				<textarea id="itemDescription" name="itemDescription"
						   				 placeholder="*Item Description..."  rows="5" cols="50" maxlength="250"></textarea>
						    			 <div id="countDisplay">0/250</div>
						   			</div>
									<div id="checkItemDescription">
									    <span id="emptyText"></span>
									    <div class="errorMessages" id="itemDescriptionErrorMessages"></div>
									</div>
								</div>
								<div id="addImageRow">
									<input type="file" name="jpgFile" accept=".jpg" />
									<div id="addImageText"><i>If no image is added, item will be given a default image.</i></div>
								</div>
							</div>
						</div>	
						
						<div id="instructions">
        
				            <div class="dropdown-container-instructions">
				              <!-- HTML for the dropdown button -->
				                <div id="instructionsTitleDiv"> 
				                     v <span id="instructionsTitle">Topping Instructions</span> v 
				                </div>
				                <!-- HTML for the dropdown content -->
				                <div class="dropdown-content-instructions" id="instructionsContent">
				                
				                    <div class="instructionsContent" >
										<div id="addInstructions-4"> Topping Type: </div>
										<div id="addInstructions-4"> &nbsp;&nbsp;&nbsp;default - This means the topping will have [Light] - [Normal] - [Extra].</div>
										<div id="addInstructions-4"> &nbsp;&nbsp;&nbsp;dropdown - This means topping will have multiple options. You will have to list these options seperated by a comma ( ' , ' ).</div>
										<div id="addInstructions-4"> [Extra] ($): </div>
										<div id="addInstructions-4"> &nbsp;&nbsp;&nbsp;Additional price if user selects [Extra] on the topping. </div>
										<div id="addInstructions-4"> Addon ($): </div>
										<div id="addInstructions-4"> &nbsp;&nbsp;&nbsp; Price of topping if it is an addon.</div>
									</div>
				                    
				                    
				                </div>
				            </div>
			        	</div>   
						
						
						<div id="addInstructions-3"> Included Topping(s) (<i>optional</i>)</div>
							
						<!-- Topping Row inserted here from JavaScript -->
						
						<div id="addMainToppingDiv" class="addToppingDiv">	
							<div id="addMainTopping" class="addTopping"> + </div>	
						</div>	
							
						
						
						<div id="addInstructions-3"> Add-on Topping(s) (<i>optional</i>)</div>
							
						
						
							
							
							
						
					    <div id="addAddonToppingDiv" class="addToppingDiv">	
							<div id="addAddonTopping" class="addTopping"> + </div>	
						</div>	
					       
				        <input type="submit" value="Add to Menu">
				   </form>
   					  

			    </div>
   			</div>
   			
   		</div>
   		
   		<div id="socialLinksBorder">
		     	<div id="socialLinks">
		            <b> 
		            	<a id="gitHub" href="https://github.com/Nathan-Barthen" target="_blank">GitHub</a>
		                <a id="linkedIn" href="https://www.linkedin.com/in/nathan-barthen-22993722a/" target="_blank">LinkedIn</a> 
		            </b>
		        </div>
		</div>
   			
   	</div>
  </div>

	<script src="/javaScript/showOperatingHours.js"></script>
	<script src="/javaScript/menuOptions/showPizzas.js"></script>
	<script src="/javaScript/menuOptions/showSides.js"></script>
	<script src="/javaScript/menuOptions/showWings.js"></script>
	<script src="/javaScript/menuOptions/showPasta.js"></script>
	<script src="/javaScript/menuOptions/showWedgie.js"></script>
	<script src="/javaScript/menuOptions/showDesserts.js"></script>
	<script src="/javaScript/menuOptions/showDrinks.js"></script>
	<script src="/javaScript/menuOptions/showMisc.js"></script>
	
	<script src="/javaScript/pageRedirects/clicksLoginSignup.js"></script>
	<script src="/javaScript/pageRedirects/clicksPizzaLogo.js"></script>
	<script src="/javaScript/pageRedirects/clicksItem.js"></script>
	<script src="/javaScript/pageRedirects/clicksCheckout.js"></script>
	
	<script src="/javaScript/adminPages/adminClicksOnItemInDelete.js"></script>
	<script src="/javaScript/adminPages/adminClicksAdminHome.js"></script>
	<script src="/javaScript/adminPages/admin-AddItem-ItemDescription.js"></script>
	<script src="/javaScript/adminPages/admin-AddItem-ConfirmParameters.js"></script>
	<script src="/javaScript/adminPages/admin-AddItem-InstructionsDropdown.js"></script>
	<script src="/javaScript/adminPages/admin-AddItem-ToppingSelectedOptions.js"></script>
	<script src="/javaScript/adminPages/admin-AddItem-AddMainTopping.js"></script>
	<script src="/javaScript/adminPages/admin-AddItem-AddAddonTopping.js"></script>
	<script src="/javaScript/adminPages/admin-AddItem-AdjustHeight.js"></script>
	
	<script src="/javaScript/entersLocation.js"></script>
	<script src="/javaScript/errorRedirectPopup.js"></script>
	
	
	
	
</body>
</html>



















