<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width,
        initial-scale=1">
<title>Online Pizza Ordering</title>

<link rel="stylesheet" href="/cssStyles/backgroundAndTopBar.css">
<link rel="stylesheet" href="/cssStyles/admin/adminEditItem.css">
<link rel="stylesheet" href="/cssStyles/bottomLinks.css">


</head>
<body>
	
  <div class="container">
   	<div class="content">
   	
   		<!-- Listing category names to pass to JavaScript. -->
   		<div hidden >
		    <p th:each="category : ${itemCategories}" th:id="'categoryName' + ${category}" th:text="${category}"></p>
		</div>
		<div hidden>
		    <p th:each="item : ${menuItems}" th:id="'itemName' + ${item.getItemName()}" th:text="${item.getCategory()} + ' ' + ${item.getItemName()}"></p>
		</div>
		<!-- Listing users account email. -->
		<div hidden>
		    <p id="accIsAdmin" th:text="${userIsAdmin}"></p>
		    <span id="isUserLoggedin" th:text="${isLoggedIn}" hidden></span>
		</div>
   		<!-- TopHeader div inserted here from JavaScript (topHeaderHtml.js) -->
		
   		<div id="pageBody">
   			<div id="body-headers">
   				<div id="storeLocation"> 156 Elderwood Ave </div>
   				<div id="adminHomeTitle"> Add an Item </div>
   				<div id="adminHomeDiv">
   					<div id="adminHome">Admin Home</div>
   				</div>
   			</div>
   			
   			<div id="addItemDiv">
   				<div id="addInstructions-1"> Enter data into the fields to add an item to the menu.</div>
   			 	<div id="addInstructions-2"> If you do not use one of the already established&nbsp;<b>Categories</b>, it will be placed in Misc. </div>
   				<div id="addItemFields">
   					<form id="addItemForm" method="post" th:action="@{/pizzaStore/admin/updateItemOnMenu}" enctype="multipart/form-data">
   						<div id="addItemRow1">
   						   <input type="hidden" name="oldItemName" th:value="${item.getItemName()}">
   						    <div id=addItemCol>
	   							<div id="itemName">
								    <span id="addItemParamTitle"> *Item Name: </span>
								    <input type="text" name="itemName" placeholder="Name" th:value="${item.getItemName()}">
								</div>
								<div id="checkItemName">
								    <span id="emptyText"></span>
								    <div class="errorMessages" id="itemNameErrorMessages"></div>
								</div>
							</div>
							
							<div id=addItemCol>
						      	<div id="categoryN">
								    <span id="addItemParamTitle"> *Category: </span>
								    <input type="text" name="categoryName" placeholder="Category" th:value="${item.getCategory()}">
								</div>
								<div id="checkCategoryName">
								    <span id="emptyText"></span>
								    <div class="errorMessages" id="categoryNameErrorMessages"></div>
								</div>
							</div>
							
							<div id="priceAndSizeInfo">
								The item prices and sizes must be comma (,) separated. Follow format of placeholder. 
							</div>
							<div id=addItemCol>
								<div id="itemPrice">
								    <span id="addItemParamTitle"> *Prices ($): </span>
								    <input type="text" name="itemPrices" placeholder="$0.00, $0.00, ..." th:value="${item.getItemDefaultCostsCommaSeperated()}">
								</div>
								<div id="checkItemPrice">
								    <span id="emptyText"></span>
								    <div class="errorMessages" id="itemPriceErrorMessages"></div>
								</div>
							</div>
							<div id=addItemCol>
								<div id="itemSize">
								    <span id="addItemParamTitle"> *Sizes: </span>
								    <input type="text" name="itemSizes" placeholder="Small, Medium, ... (Empty)" th:value="${item.getItemSizesCommaSeperated()}">
								</div>
								<div id="checkItemSize">
								    <span id="emptyText"></span>
								    <div class="errorMessages" id="itemSizeErrorMessages"></div>
								</div>
							</div>
							
						</div>		
						<div id=addItemCol>
							<div id="descAndImage">
								<div id="itemDescRow">
									<div id="itemDescriptionDiv">
						   				<textarea id="itemDescription" name="itemDescription" th:text="${item.getItemDesc()}"
						   				 placeholder="*Item Description..."  rows="5" cols="50" maxlength="250"></textarea>
						    			 <div id="countDisplay">0/250</div>
						   			</div>
									<div id="checkItemDescription">
									    <span id="emptyText"></span>
									    <div class="errorMessages" id="itemDescriptionErrorMessages"></div>
									</div>
								</div>
								<div id="oldImageDiv">
									Old Image:
									<img id="oldImage" th:src="${item.getImageUrl()}">
								</div>
								<div id="addImageRow">
									<input type="file" name="jpgFile" accept=".jpg" />
									<div id="addImageText"><i>If no image is added, old image will still be used. Workspace needs refreshed to reflect the change.</i></div>
								</div>
							</div>
						</div>	
						
						<div id="instructions">
        
				            <div class="dropdown-container-instructions">
				              <!-- HTML for the dropdown button -->
				                <div id="instructionsTitleDiv"> 
				                     v <span id="instructionsTitle">Topping Instructions</span> v 
				                </div>
				                <!-- HTML for the dropdown content -->
				                <div class="dropdown-content-instructions" id="instructionsContent">
				                
				                    <div class="instructionsContent" >
										<div id="addInstructions-4"> Topping Type: </div>
										<div id="addInstructions-4"> &nbsp;&nbsp;&nbsp;default - This means the topping will have [Light] - [Normal] - [Extra].</div>
										<div id="addInstructions-4"> &nbsp;&nbsp;&nbsp;dropdown - This means topping will have multiple options. You will have to list these options seperated by a comma ( ' , ' ).</div>
										<div id="addInstructions-4"> [Extra] ($): </div>
										<div id="addInstructions-4"> &nbsp;&nbsp;&nbsp;Additional price if user selects [Extra] on the topping. </div>
										<div id="addInstructions-4"> Addon ($): </div>
										<div id="addInstructions-4"> &nbsp;&nbsp;&nbsp; Price of topping if it is an addon.</div>
									</div>
				                    
				                    
				                </div>
				            </div>
			        	</div>   
						
						<!-- Thymleaf variables to be inserted onto included and add-on toppings-->
		   				<div th:each="topping : ${item.getIncludedToppings()}" id="hiddenIncludedToppings" hidden>
						    
							    <p id="toppingName" th:text="${topping.getToppingName()}"></p>
							    <p id="toppingType" th:text="${topping.getToppingType()}"></p>
							    <p id="isPizza" th:text="${topping.getIsPizza()}"></p>
							    <p id="toppingOptions" th:each="toppOpt : ${topping.getToppingOptions()}" th:text="${toppOpt}"></p>
							    <p id="additionalCostExtra" th:text="${topping.getAdditionalCostExtra()}"></p>
							    
						</div>
						<div th:each="topping : ${item.getAdditionalToppings()}" id="hiddenAdditionalToppings" hidden>
							    
							    <p id="toppingName" th:text="${topping.getToppingName()}"></p>
							    <p id="toppingType" th:text="${topping.getToppingType()}"></p>
							    <p id="isPizza" th:text="${topping.getIsPizza()}"></p>
							    <p id="toppingOptions" th:each="toppOpt : ${topping.getToppingOptions()}" th:text="${toppOpt}"></p>
							    <p id="additionalCostExtra" th:text="${topping.getAdditionalCostExtra()}"></p>
							    <p id="additionalCostAddon" th:text="${topping.getAdditionalCostAddon()}"></p>
							    
						</div>
						
						<div id="addInstructions-3"> Included Topping(s) (<i>optional</i>)</div>
							
						<!-- Topping Row inserted here from JavaScript -->
						
						<div id="addMainToppingDiv" class="addToppingDiv">	
							<div id="addMainTopping" class="addTopping"> + </div>	
						</div>	
							
						
						
						<div id="addInstructions-3"> Add-on Topping(s) (<i>optional</i>)</div>
							
						
						
							
							
							
						
					    <div id="addAddonToppingDiv" class="addToppingDiv">	
							<div id="addAddonTopping" class="addTopping"> + </div>	
						</div>	
					       
				        <input type="submit" value="Update Item">
				   </form>
   					  

			    </div>
   			</div>
   			
   		</div>
   		
   		<div id="socialLinksBorder">
		     	<div id="socialLinks">
		            <b> 
		            	<a id="gitHub" href="https://github.com/Nathan-Barthen" target="_blank">GitHub</a>
		                <a id="linkedIn" href="https://www.linkedin.com/in/nathan-barthen-22993722a/" target="_blank">LinkedIn</a> 
		            </b>
		        </div>
		</div>
   			
   	</div>
  </div>

	<script src="/javaScript/topHeaderHtml.js"></script>
	<script  src="/javaScript/clicksAccount.js"></script>

	<script src="/javaScript/showOperatingHours.js"></script>
	<script src="/javaScript/menuOptions/showPizzas.js"></script>
	<script src="/javaScript/menuOptions/showSides.js"></script>
	<script src="/javaScript/menuOptions/showWings.js"></script>
	<script src="/javaScript/menuOptions/showPasta.js"></script>
	<script src="/javaScript/menuOptions/showWedgie.js"></script>
	<script src="/javaScript/menuOptions/showDesserts.js"></script>
	<script src="/javaScript/menuOptions/showDrinks.js"></script>
	<script src="/javaScript/menuOptions/showMisc.js"></script>
	
	<script src="/javaScript/pageRedirects/clicksLoginSignup.js"></script>
	<script src="/javaScript/pageRedirects/clicksPizzaLogo.js"></script>
	<script src="/javaScript/pageRedirects/clicksItem.js"></script>
	<script src="/javaScript/pageRedirects/clicksCheckout.js"></script>
	
	<script src="/javaScript/adminPages/adminClicksOnItemInDelete.js"></script>
	<script src="/javaScript/adminPages/adminClicksAdminHome.js"></script>
	<script src="/javaScript/adminPages/admin-AddItem-ItemDescription.js"></script>
	<script src="/javaScript/adminPages/admin-AddItem-ConfirmParameters.js"></script>
	<script src="/javaScript/adminPages/admin-AddItem-InstructionsDropdown.js"></script>
	<script src="/javaScript/adminPages/admin-AddItem-ToppingSelectedOptions.js"></script>
	<script src="/javaScript/adminPages/admin-AddItem-AddMainTopping.js"></script>
	<script src="/javaScript/adminPages/admin-AddItem-AddAddonTopping.js"></script>
	<script src="/javaScript/adminPages/admin-AddItem-AdjustHeight.js"></script>
	
	<script src="/javaScript/adminPages/admin-EditItem-InitializeOptions.js"></script>
	<script src="/javaScript/adminPages/admin-EditItem-InsertMainToppings.js"></script>
	<script src="/javaScript/adminPages/admin-EditItem-InsertAddonToppings.js"></script>
	
	
	
	
	
	
</body>
</html>



















