
	
/* Social Links */
   
   #socialLinksBorder {
   		height: 100px;
		width: 1396px;
		min-width: 99%;
		position: relative;
		
	   bottom: 0;
	   left: 50%;
  	   transform: translate(-50%, 50%);
       border-top: 2px solid black;
       height: 65px;
       background-color: rgb(51, 102, 255);
       
   }
   
   #socialLinks {
   		width: 100%;
   		height: 65px;
		padding-right: 3px;
		color: black;
		
		display: flex;
    	justify-content: flex-end; /* align links to the right */
		align-items: end;
		
		font-size: 25px;
   
   }
   		 #socialLinks b {
   		 	display: flex;
   		 	flex-direction: column;
   		 	padding-bottom: 5px;
   		 }
   		 
   		#gitHub {
   			padding-left: 14px;
   		}
   
   