
	@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
	
	#pageBody {
		width: 1400px;
	    min-width: 99%;
		height: 1360px;
		min-height: 100%;
		margin: 0 auto;
		
		background: url(/images/lightBlueBackgrd.png) no-repeat center center fixed;
  	    background-size: cover;
	}
	
	#body-headers {
		width: 100%;
		height: 50px;
		font-size: 35px;
		color: black;
		
		display: flex;
	}
	
		#storeLocation {
			width: 33%;
			height: 100%;
			
			display: flex;
			align-items: center;
	    	text-align: center;
	    	justify-content: left;
	    	
	    	font-style: italic;
			padding-left: 15px;
		}
		
		#categoryTitle {
			width: 34%;
			height: 100%;
			
			display: flex;
			align-items: center;
	    	text-align: center;
	    	justify-content: center;
	    	
	    	text-decoration: underline;
			text-decoration-color: red;
			font-size: 45px;
		}

		#searchMenu {
			width: 33%;
			height: 100%;
			
			display: flex;
			align-items: center;
	    	text-align: center;
	    	justify-content: end;
	    	
	    	font-style: italic;
	    	padding-right: 20px;
		}
			#searchDiv {
				height:25%;
		    	padding-top: 10px;
		        width: 100%;
		        font-size: 30px;
		        display: flex;
			    align-items: center;
			    text-align: center;
			    justify-content: center;
			    position: relative;
			    
			    padding-left: 10px;
			    padding-bottom: 10px;
			}
			#userSearchInput {
				width: 100%;
		      	height: 25%;
		      	font-size: 30px;
		      	padding-left: 5px;
		      	border: 1px solid gray;
		      	border-radius: 5px;
		     	outline: none;
		      	background-color: rgb(0, 0, 230);
			  	color: rgb(255, 255, 102);
			  	
			  	display: flex;
			    align-items: center;
			    justify-content: center;
			}
				#userSearchInput::placeholder {
					color: rgb(255, 255, 102);
				}
		
		
		#imageAndDesc {
			width: 100%;
			height: 400px;
			
			display: flex;
		}
			#itemImgDiv {
				display: flex;
				justify-content: center;
				align-items: center;
				
				width: 50%;
				height: 100%;
			}
				#itemImg {
					width: 400px;
				  	height: 350px;
				  	
				  	border-radius: 10px;
				  	border: 2px solid black;			
				
				}
			#itemDescDiv{
				width: 50%;
				height: 100%;
				
				display: flex;
				flex-direction: column;
				
			}
				#itemName {
					height: 30%;
					width: 100%;
					
					display: flex;
					justify-content: center;
					align-items: flex-end;
					
					font-size: 50px;
					text-decoration: underline;
					text-decoration-color: blue;
				}
				#itemDesc {
					height: 70%;
					width: 100%;
					
					display: flex;
					justify-content: center;
					align-items: flex-start;
					
					padding-top: 40px;
					
					font-size: 40px;
				}
		
		
					
		/* START - mainOptions Dropdown box styles. */	
			#mainOptions-dropdownContainer {
				width: 100%;
				
				display: flex;
				align-items: center;
			    text-align: center;
			    
			    
				padding-bottom: 10px;
			}	
			
				#dropdownLabelName {
					width: 45%;
					font-size: 40px;
					padding-right: 10px;
					text-align: end;
					
				}
			  	.dropdown {
			    	width: 55%;
			  		margin-left: 60px;
			  
				    border: 3px solid black;
				    background: rgb(255, 187, 153);
				    color: black;
				    cursor: pointer;
				    height: 50px;
				    line-height: 50px;
				    position: relative;
				    width: 300px;
				    text-align: center;
				    text-decoration: none;
				    z-index: 1;
				    transform: perspective(1000px);
				    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
				    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
				  	
				  	font-size: 25px;
			  }
			  #selectedOption {
			    position: relative;
			    font-weight: bold;
			  }
			
			  .dropdown-menu {
				    background-color: rgb(255, 136, 77);
				    list-style-type: none;
				    margin: 0;
				    padding: 0;
				    position: absolute;
				    left: 0;
				    opacity: 0;
				    text-align: center;
				    top: 100%;
				    visibility: hidden;
				    z-index: -99999;
				    width: 100%;
				    
				    
				    -webkit-transition: all .5s, background, 2s .5s linear;
				    transition: all .5s, background 2s .5s linear;
			  }
			
			  .dropdown-menu li:first-child {
			    	cursor: default;
			  }
			
			  .dropdown-menu a {
				    color: #000;
				    display: inline-block;
				    width: 100%;
				    text-decoration: none;
				    -webkit-transition: all .5s;
				    transition: all .001s;
			  }
			
			  .dropdown-menu a:hover {
				    background: rgb(179, 60, 0);
				    color: #fff;
			  }
			
			  .dropdown:hover .dropdown-menu {
				    background: rgb(255, 102, 26);
				    opacity: 1;
				    visibility: visible;
				    z-index: 10;
			  }
  		/* END - Main Options - Dropdown box styles. */
 		/* START - Main Options - lightNormalExtra styles */
 		#mainOption-lightNormalExtra{
 			width: 100%;
				
			display: flex;
			align-items: center;
			text-align: center;
			    
			padding-bottom: 10px;
 		}
	 		#ingredientName {
	 			width: 30%;
				font-size: 40px;
				padding-right: 10px;
				text-align: end; 
	 		
	 		}
	 		#amountDiv {
	 			width: 25%;
				font-size: 30px;
				padding-right: 30px;
				
				display: flex;
				flex-direction: row;
				
	 		}
	 			#light {
	 				width: 33.33%;
				
					display: flex;
					align-items: center;
					text-align: center;
					justify-content: center;
	 			}
	 			#normal {
	 				width: 33.33%;
				
					display: flex;
					align-items: center;
					text-align: center;
					justify-content: center;
	 			}
	 			#extra {
	 				width: 33.33%;
				
					display: flex;
					align-items: center;
					text-align: center;
					justify-content: center;
	 			}
	 			
 			#sideOfPizzaDiv {
	 			width: 25%;
				font-size: 30px;
				padding-right: 30px;
				
				display: flex;
				flex-direction: row;
	 		}
	 			#leftSide {
	 				width: 33.33%;
				
					display: flex;
					align-items: center;
					text-align: center;
					justify-content: center;
	 			}
	 			#wholeSide {
	 				width: 33.33%;
				
					display: flex;
					align-items: center;
					text-align: center;
					justify-content: center;
	 			}
	 			#rightSide {
	 				width: 33.33%;
				
					display: flex;
					align-items: center;
					text-align: center;
					justify-content: center;
	 			}
	 		
	 		#removeIngredient {
	 			width: 20%;
				font-size: 35px;
				padding-right: 10px;
				text-align: start; 
	 		
	 		}
	 		
 		
 		/* END - Main Options - lightNormalExtra styles */
			
		
		
		
		
		